/* Variables */

:root {
  --border-width: 1px;
  --dark-red: rgb(126, 40, 40);
  --dark-purple: rgb(139, 26, 106);
}

/* reset css */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}


body {
  height: 100vh;
  margin: 0px;
}

.title {
  color: #fff;
  background-color: #862069;
  margin: 0px 0px 3px 8px;
  border-radius: 16px;
  filter: drop-shadow(16px 16px 20px rgb(60 34 84));
}

header {
  background-color: #544E4E;
  margin:0px;
  padding: 0px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  box-shadow:
  8px 5px 10px rgba(149, 145, 145, 0.33), 3px 15px 20px rgba(111, 107, 107, 0.12);
  background: #95483f;
  background-image: linear-gradient(90deg, #000004, #160b39, #420a68, #6a176e, #932667, #ba3655, #dd513a, #f3761b, #fca50a, #f6d746, #f6d746);
  z-index: 1;
}

header .title-wrapper {
  margin-left: 10px;
  position: relative;
  top: 30px;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  text-shadow: 2px 2px 2px rgb(81 57 84);
  font-size: 1.9em;
  width: 225px;
  padding: 8px;
  transform: rotate(-10deg);
}

/* header .header-image {} */

header img {
  max-height: 100px;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
}

header nav {
  position: absolute;
  right: 0px;
  top: 10px;
}

header nav ul {
  margin-top: 1rem;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.3rem;
  margin-right: 24px;
  background-color: rgb(255 255 255);
  border-radius: 12px;
  border: solid 2px #4b0e69;
  padding: 4px 21px 4px 21px;
  position: relative;
  transition: all .3s ease-out;
}


header nav ul li:hover {
  box-shadow: 0px 6px 11px 0px rgb(149 52 14 / 56%);
  transform: rotate(3deg);
}

header nav ul li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  line-height: 35px;
}
header nav ul li:hover {
  scale: 110%;
}
.header {
  width: 20%;
  float: left;
}

/* Main Content */

main {
  height: 100%;
  background-color: rgb(253, 253, 245);
}
section {
  width: 100%;
  padding: 8px 0 32px 0;
}

main section:last-child {
  padding-bottom: 180px;
}
.two-col {
  width: 98%;
  /* margin-left: 100px; */
  margin-top: 12px;
  display: flex;
  align-content: flex-start;
}

.section-heading {
  min-width: 250px;
  border-right: 2px dashed rgb(182, 182, 182);
  text-align: right;
  padding-right: 24px;
  margin-right: 24px;
}

.section-heading h2 {
  font-size: 2rem;
  color:rgba(111, 107, 107, 0.92);
}

article p {
    display: block;
    width: 70%;
    margin-left: 32px;
    text-align: justify;
}

.navy-blue {
  color: #2E4C59;
}

.light-blue {
  color: #ABE1ED;
}

article#contact {
    border: 1px solid #999;
    padding: 23px;
    width: 90%;
}

.photo-wrapper {
  background-image: url('../images/face.jpg');
  background-position: top;
  float: right;
  width: 201px;
  clip-path: circle(100px at center);
  margin-top: -32px;
  margin-left: 22px;
}


/* Contact Form */
fieldset {
  border: none;
}

label {
  padding-right: 16px;
  max-width: 100px;
}


/* Work Section Styles */

.work-wrapper {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  border: var(--border-width) solid var(--dark-purple);
  margin: 0px;
}

figure.banner {
  background-image: url('../images/geode.jpeg');
  background-position: center;
  background-size: cover;
  border: var(--border-width) solid var(--dark-purple);
  border-radius: 8px;
  min-height: 200px;
  position: relative;
  width: 100%;
}

figure.card {
  width: 49%;
  border-radius: 8px;
  position: relative;
  min-height: 200px;
  margin-top: 18px;
  max-height: 180px;
  overflow: hidden;
}

.work-wrapper figure h3, .work-wrapper figure h4 {
  background-color: var(--dark-purple);
  color: #fff;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 4px 10px;
  text-align: center;
  position: absolute;
  border-radius: 0px 5px 18px 0px;
  box-shadow: 0 10px 6px -6px #2b1236ad;
}

.work-wrapper figure h3 {
  top: 4rem;
  font-size: 1.8rem;
  margin-top: 0px;
}

.work-wrapper figure h4 {
  top: 6.6rem;
  font-size: 1rem;
  margin-top: 12px;
}

/* Footer Styles */


footer {
  position: fixed;
  width: 100%;
  background-color: #862068;
  bottom: 0px;
}

footer ul {
  text-align: center;
}

footer ul li {
  list-style-type: none;
  display: inline;
}

footer ul li a {
  color: #eee;
  text-decoration: none;
  display: inline-table;
  padding: 3px 18px;
}

footer ul li a:hover {
  text-decoration: underline;
  color: #f6d745;
}

@media (max-width: 550px) {
  /* Phones */
  .two-col {
    display: block;
  }
  header {
    display: flex;
    margin-bottom: 30px;
  }
  main {
    padding: 20px 0 0 20px;
  }
  .title-wrapper {
    min-width: 100%;
    top: 24px;
  }
  h1 {
    transform: rotate(0deg);
    top: 10px;
  }
  header nav {
    min-width: 100%;
    display: block;
    top: 90px;
  }
  header nav ul li {
    margin: 0px;
  }
  .section-heading {
    min-width: 100%;
    border-right: none;
  }
  h2 {
    display: block;
    text-align: left;
  }
  figure.card {
    width: 100%;
  }
}